{% extends "layout.html" %}
{% block body %}
    {% if user.email%}
        <form action="{{ url_for('add_post')}}" method="post" class="add-entry">
            <dt>
                <dt>Title
                    <dd><input type="text" size="30" name="title"></dd>
                </dt>
                <dt>Text:
                    <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
                    <dd><input type="submit" value="Share"></dd>
                </dt>
            </dl>
        </form>
    {% endif %}
    <ul class="entries">
        {% for post in posts%}
            <li><h2>{{post['title']}}</h2>{{post['text']|safe}}</li>
        {% else %}
            <li><em>Unbelievable. No posts here so far!</em></li>
        {% endfor %}
    </ul>
{% endblock %}